<footer>
	<p>Info. contributed by: juanchosoriano</p>
		<p id = "contributors">Want to contribute? Click the icon at the bottom right!</p>
		<button id = "editicon"><img id = "icon" src = "assets/logobackup.png"></button>
</footer>
