<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link type="text/css" rel="stylesheet" href="/public/css/colors.css">
    <link type="text/css" rel="stylesheet" href="/public/css/typography.css">
    <link type="text/css" rel="stylesheet" href="/public/css/layout.css">
    <link type="text/css" rel="stylesheet" href="/public/css/components.css">
    <link type="text/css" rel="stylesheet" href="/public/css/form.css">
</head>
<body class="body-with-nav">
    
        <div class = "flex flex--between">

            <form class = "input-group">
                <label for="uName">Username: </label> <br>
                <input type="text" id="uName" name="uName" class = "input-with-label"><br>
                <label for="pss">Password: </label> <br>
                <input type="text" id="pss" name="pss" class = "input-with-label"><br>

                <button> "Log In" </button>
            </form>

        </div>
</body>
</html>