<div id = "mainContainer">

    <div id = "login_info">

        <h3 id = "acc_login"> LOGIN </h3>

        <form method = "POST" action = "/login" id = "loginform">

            <label id = "labeluser_login" for = "username_login">Username: </label>
            <input id = "username_login" name = "username" type="text"><br>

            <label id = "labelpass_login" for = "password_login">Password: </label>
            <input id = "password_login" name = "psw" type="password"><br>

            <button id = "login" type="submit" name="login">LOG IN</button>
        </form>

    </div>
</div>